body {
width: 100%;
height: auto;
font-family: 'Georgia', serif;
padding: 0;
margin: 0px;
font-size: 24px;
background-color: #eae7dc;
text-align: center;
}

p {
	margin-left: 10px;
	margin-right: 10px;
}
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #112d32;
	position: fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	display: block;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

.navbar li {
	float: left;
	margin-left: 150px;
}

.navbar a:hover {
	background-color: #2795b0;
}

li a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

.center {
	display: block;
  	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
figure {
    display: inline-block;
    border: 1px solid gray;
    margin: 20px; /* adjust as needed */
}
figure img {
    vertical-align: top;
}
figure figcaption {
    text-align: center;
}


.recipes li {
	margin: 12px 0;
}

.recipes h3, h4 {
	margin:2px;
	padding:0;
}

footer {
	width: 100%;
	background-color: #112d32;
	padding: 30px 0px;
	color: white;
	text-align: center;
}
.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

h1 {
	text-align: center;
}

figcaption {
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

form {
	font-size: 24px;
	font-family: serif;
	margin: 8px 4px;
	text-align: left;
}

input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}